{% extends 'base.html.twig' %}

{% block body %}
<h1>Hello </h1>

<h2>Bonjour {{ prenom }}</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
In libero rerum incidunt qui iure amet ipsum nam, quisquam omnis deleniti sunt, explicabo voluptatibus commodi at quam. 
Nostrum voluptate odio fuga!</p>


<hr>
{% endblock %}

